body{
    font-family: sans-serif;
}

.cabeçalho{
    display: flex;
    text-align: center;
    align-items: center;
    margin: auto;
    justify-content: space-between;
    border: 1px solid;
    padding-left: 10px;
    padding: 10px;
    padding-right: 10px;
    width: 1310px;
    border-radius: 10px;
    margin-top: 50px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

h1{
    margin-left: auto;
    margin-right: auto;
}
  
#loja {
    margin-left: auto; 
    width: 80px;
    height: 40px;
  }

.criarItens{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    margin-top: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: 1px solid;
    border-radius: 10px;
    width: 1310px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

input{
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

button{
    width: 120px;
    height: 30px;
    border: 0px;
    border-radius: 3px;
    background-color: #009879;
    color: white;
    cursor: pointer;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

button:hover{
    background-color: #009879;
}

/* Container da tabela */
.tabela {
    margin-top: 20px;
}

/* Estilização da tabela */
.tabelaProdutos {
    width: 1310px;
    border-collapse: collapse;
    margin: auto;
    font-size: 1em;
    font-family:  sans-serif;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.tabelaProdutos thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.tabelaProdutos th, .tabelaProdutos td {
    padding: 12px 15px;
}

.tabelaProdutos tbody tr {
    border-bottom: 1px solid #dddddd;
}

.tabelaProdutos tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.tabelaProdutos tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.tabelaProdutos tbody tr:hover {
    background-color: #f1f1f1;
}

.tabelaProdutos button {
    background-color: #009879;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 4px;
    margin: 0 2px;
}

.tabelaProdutos button:hover {
    background-color: #007f63;
}
